body {
    background-color: white;
    color: black;
    margin: 0 0 0 0;
    font-family: Arial, Helvetica, sans-serif;
}

.linha-preta {
    background-color: black;
    height: 5px;
}

.linha-vermelha {
    background-color: rgb(170, 14, 14);
    height: 3px;
}

header {
    display: flex;
    justify-content: space-between;
    height: 94.52px;
    background-color: black;
}

header img {
    max-width: 110px;
}

header .italia {
    max-width: 80px;
    margin-bottom: 15px;
}

nav {
    margin: auto;
    margin-bottom: 20px;
}

nav a {
    text-decoration: none;
    font-weight: bold;
    color: white;
    margin-right: 20px;
    display: inline-block;
    transition: transform 0.2s ease;
}

nav a:hover{
    transform: scale(1.15);
}

header .telefone {
    max-width: 30px;
    max-height: 30px;
    margin-top: 10px;
}

header p {
    font-size: 1em;
    font-weight: bold;
    margin-left: 10px;
    margin-right: 25px;
}

div.telefone-div {
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
    padding-left: 10px;
    color: white;
}

h1 {
    font-weight: lighter;
    text-align: center;
    margin-top: 20px;
    font-size: 2.5em;
    margin-bottom: 0;
}

.principal {
    display: flex;
    justify-content: center;
}

.carros {
    max-height: 700px;
}

.catalogo {
    display: grid;
    grid-template-columns: auto auto auto auto;
    max-height: 100vh;
}

.seminovo-item {
    background-color: rgb(235, 235, 235);
    width: 200px;
    border: 1px solid #91919165;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.288);
    margin: 30px;
    padding: 10px;
    border-radius: 15px;
}

.img-zoom {
    overflow: hidden;
    width: 190px;
    height: 160px;
    border-radius: 10px;
    margin: auto;
    display: block;
}

.seminovo-item img {
    width: 190px;
    height: 160px;
    border-radius: 10px;
}

.seminovo-item img:hover {
    transform: scale(1.2);
    transition: transform 0.3s ease-in-out;
}

.seminovo-item h2 {
    font-size: 1.2em;
    margin: 10px 0 5px 0;
    color: rgb(148, 0, 0);
}

.data {
    margin-top: 0;
    color: rgb(90, 90, 90);
}

.infos {
    margin-bottom: 0px;
    margin-top: 5px;
}

.valor {
    margin-top: 0px;
    margin-top: 0px;
}

.linha {
    height: 1px;
    width: 95%;
    margin: 12px auto 12px auto;
    background-color: rgb(192, 192, 192);
    border-radius: 10px;
}

.seminovo-item a {
    font-size: 1.3em;
    text-decoration: none;
    color: white;
    background-color: rgb(58, 0, 0);
    margin: auto;
    display: block;
    text-align: center;
    width: 70%;
    padding: 8px 15px 8px 15px;
    border-radius: 10px;
    transition: transform 0.2s ease;
}

.seminovo-item a:hover {
    transform: scale(1.1);
}

.pesquisa {
    background-color: rgb(235, 235, 235);
    width: 450px;
    margin-top: 30px;
    height: 921px;
    margin-left: 50px;
    margin-right: 50px;
    border-radius: 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.301);
    overflow: scroll;
    overflow-x: hidden;

}

.pesquisa > h1 {
    color: rgb(68, 68, 68);
}

.linha-pesquisa {
    width: 420px;
    height: 2px;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 5px;
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.219);
}

.pesquisa > input {
    width: 400px;
    height: 30px;
    font-size: 15px;
    margin: auto;
    display: block;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

.search-box {
    color: rgb(68, 68, 68);
    border: 1px  solid rgba(68, 68, 68, 0.308);
    text-indent: 20px;
}

.box {
    display: none;
}
footer {
    background-color: black;
    margin-top: 40px;
    display: flex;
    align-items: center;      
    justify-content: center;  
    position: relative;      
    height: 50px;
}

footer img {
    max-width: 55px;
    margin-top: 3px;
    position: absolute;
    left: 20px;              
    height: 40px;
}

footer p {
    color: white;
    margin: 0;
}