body {
    background-color: white;
    color: black;
    margin: 0 0 0 0;
    font-family: Arial, Helvetica, sans-serif;
}

header{
    display: flex;
    justify-content: space-between;
    height: 60px;
    background-color: black;
    margin-bottom: 0px;
}

header img {
    max-width: 70px;
}

header .italia {
    max-width: 55px;
    margin-bottom: 10px;
    margin-right: 60px;
}

nav {
    margin: auto;
}

nav a {
    text-decoration: none;
    font-weight: bold;
    color: white;
    margin-right: 20px;
    display: inline-block;
    transition: transform 0.2s ease;
}

nav a:hover{
    transform: scale(1.15);
}

header .telefone {
    max-width: 30px;
    max-height: 30px;
}

header p {
    font-size: 1em;
    font-weight: bold;
    margin-left: 10px;
    margin-right: 25px;
    margin-top: 7px;
}

div.telefone-div {
    display: flex;
    justify-content: space-between;
    color: white;
    margin-top: 15px;
}

section.titulo {
    margin: 0 0 0 0;
    background-image: url(imagens/mobi-wallpaper3.jpg);
    min-height: calc(100vh - 60px);
    background-size: cover;
    background-position: center; 
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
}

.titulo h1 {
    margin-top: 170px;
    margin-left: 20px;
    font-size: 7vw;
    color: rgb(255, 255, 255);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-bottom: 10px;
}

.titulo h2 {
    color: rgb(199, 199, 199);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-left: 30px;
    font-size: 2em;
    margin-top: 0;
    max-width: 400px;
}

section.conhecer {
    width: 100%;
    height: 100vh;
    margin-bottom: 0;
    overflow: hidden;
}

.conhecer > article {
    display: flex;
    justify-content: space-between;
}

section.conhecer > h1 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 2.5em;
    text-align: center;
    margin-top: 0;
    margin-bottom: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
}

#imgs-carro {
    background-image: url(imagens/fotos-especiais/mobi-interior2.jpg);
    background-size: cover;
    background-position: center; 
    background-repeat: no-repeat;
    width: 700px;
    height: 305px;
    margin-right: 50px;
    border-radius: 15px;
    transition: background-image 1s ease-in-out;
}

section.conhecer > article > ul {
    margin-left: 70px;
}

section.conhecer > article > ul > li {
    color: rgb(75, 75, 75);
    margin-bottom: 25px;
    font-size: 1.2em;
}

.itens-div{
    margin-top: 20px;
    background-color: black;
    height: 100%;
}

.itens h2 {
    color: white;
    margin-left: 6vw;
    margin-right: 6vw;
    margin-top: 10px;
}

.itens img {
    display: block;
    margin: auto;
    width: 220px;
    height: 100px;
    border-radius: 10px;
}