body {
    background-color: white;
    color: black;
    margin: 0 0 0 0;
    font-family: Arial, Helvetica, sans-serif;
    scroll-behavior: auto;
}

header{
    display: flex;
    justify-content: space-between;
    height: 60px;
    background-color: black;
    margin-bottom: 0px;
}

header img {
    max-width: 70px;
}

.italia {
    max-width: 55px;
    margin-bottom: 9px;
    margin-right: 60px;
}

nav {
    margin: auto;
}

nav a {
    text-decoration: none;
    font-weight: bold;
    color: white;
    margin-right: 20px;
    display: inline-block;
    transition: transform 0.2s ease;
}

nav a:hover{
    transform: scale(1.15);
}

header .telefone {
    max-width: 30px;
    max-height: 30px;
}

header p {
    font-size: 1em;
    font-weight: bold;
    margin-left: 10px;
    margin-right: 25px;
    margin-top: 7px;
}

div.telefone-div {
    display: flex;
    justify-content: space-between;
    color: white;
    margin-top: 15px;
}

#sabermais {
    background-color: black;
    padding: 7px 30px;
    display: flex;
    position: absolute;
    top: 870px;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 50px;
    cursor:pointer;
}

div#sabermais:hover{
    transform: scale(1.05) translateX(-48%);
    transition: transform 0.5s ease;
}

div#sabermais img{
    margin-left: 10px;
    width: 20px;
    height: 20px;
}

div#sabermais p {
    color: white;
    font-weight: bolder;
    font-size: 1em;
    margin: 0 0 0 0;
    margin-top: 2px;
}

div.titulo {
    margin: 0 0 0 0;
    min-height: calc(100vh - 60px);
    background-size: cover;
    background-position: center; 
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.041);
}

.titulo h1 {
    margin-top: 60px;
    margin-left: 30px;
    font-size: 3vw;
    color: rgb(255, 255, 255);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-bottom: 10px;
}

.titulo h2 {
    color: rgb(255, 255, 255);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-left: 30px;
    font-size: 1.2vw;
    margin-top: 0;
    max-width: 400px;
}

div.conhecer {
    width: 100%;
    min-height: 100vh;
    height: auto;
    margin-bottom: 0;
}

div.conhecer > article {
    display: flex;
    justify-content: space-between;
}

div.conhecer > h1 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 2.5em;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
}

#imgs-carro {
    background-image: url(imagens/fotos-especiais/mobi-interior2.jpg);
    background-size: cover;
    background-position: center; 
    background-repeat: no-repeat;
    width: 50vw;
    height: 23vw;
    margin-right: 50px;
    border-radius: 15px;
    transition: background-image 1s ease-in-out;
}

div.conhecer > article > ul {
    margin-left: 70px;
}

div.conhecer > article > ul > li {
    color: rgb(75, 75, 75);
    margin-bottom: 12px;
    font-size: 16px     ;
}

.itens-div{
    margin-top: 2vw;
    background-color: black;
    height: 12vw;
    margin-bottom: 0;
}

.itens h2 {
    font-size: 1.3vw;
    color: white;
    margin-left: 6vw;
    margin-right: 6vw;
    margin-top: 2vw;
}

.itens img {
    display: block;
    margin: auto;
    width: 15vw;
    height: 6vw;
    border-radius: 10px;
}

section {
    margin-top: 0;
    background-color: rgb(255, 255, 255);
}

section h1 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 2.5em;
    text-align: center;
    margin-top: 1vw;
}

.personalizar {
    background-color: rgb(235, 235, 235);
    display: flex;
    justify-content: space-between;
    margin-left: 8vw;
    margin-right: 8vw;
    border-radius: 20px;
    margin-bottom: 20px;
}

.preços {
    margin-right: clamp(16px, 6vw, 100px);
}

a.comprar-agora {
    font-size: 40px;
    background-color: black;
    color: white;
    text-decoration: none;
    width: 300px;
    display: block;
    text-align: center;
    margin: auto;
    padding: 20px;
    border-radius: 20px;
    transition: transform 0.2s ease;
}

a.comprar-agora:hover {
    transform: scale(1.05);
}   

a.parcelas {
    color: black;
    font-size: 20px;
    text-align: center;
    display: block;
    width: 150px;
    margin: auto;
    margin-top: 20px;
}

.preços h1 {
    margin-top: 150px;
}

.preços h2 {
    font-size: 30px;
    text-align: center;
}

.cores img {
    width: 30vw;
    margin: auto;
}

.color-buttons {
    background-color: rgba(128, 128, 128, 0.384);
    padding: 5px;
    width: 250px;
    border-radius: 15px;
    margin: auto;
    margin-bottom: 1vw;
}

.cores > div.color-buttons button {
    width: 25px;
    padding: 15px;
    border-radius: 100%;
    border: 4px solid white;
    margin-left: 2px;
    margin-right: 2px;
    cursor: pointer;
}

button#preto {
    background-color: black;
}

button#vermelho {
    background-color: red;
}

button#branco {
    background-color: white;
}

button#chumbo {
    background-color: rgb(87, 87, 87);
}

button#prata {
    background-color: rgb(187, 187, 187);
}

.cores {
    margin-left: clamp(16px, 6vw, 100px);
    text-align: center;
}

.cores h2 {
    text-align: center;
    margin-top: 2vw;
    font-size: 28px;
}

footer {
    background-color: black;
    margin-top: 40px;
    display: flex;
    align-items: center;     
    justify-content: center;  
    position: relative;      
    height: 50px;
}

footer img {
    max-width: 55px;
    margin-top: 3px;
    position: absolute;
    left: 20px;           
    height: 40px;
}

footer p {
    color: white;
    margin: 0;
}


@media (min-width: 1024px) {
    div.conhecer > article > ul >li {
        font-size: 20px;
        margin-bottom: 25px;
    }
}

@media (min-width: 1600px) {
  div.conhecer > article > ul > li {
    font-size: 24px;
    margin-bottom: 40px;
  }

  .itens-div {
    margin-top: 5vw;
    padding-bottom: 2.5vw;
  }

  .itens h2{
    font-size: 1.4vw;
  }

  .itens img {
    width: 17vw;
    height: 8vw;
  }
}

/*scrollbar*/
body::-webkit-scrollbar {
    width: 8px;
}

body::-webkit-scrollbar-track {
    background-color: rgb(219, 219, 219);
}

body::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.4);
    border-radius: 10px;
}

body::-webkit-scrollbar-thumb:hover {
    background-color: rgba(0, 0, 0, 0.6);
}