body {
    background-color: white;
    color: black;
    margin: 0 0 0 0;
    font-family: Arial, Helvetica, sans-serif;
}

.linha-preta {
    background-color: black;
    height: 5px;
}

.linha-vermelha {
    background-color: rgb(170, 14, 14);
    height: 3px;
}

header{
    display: flex;
    justify-content: space-between;
    height: 80px;
    background-color: black;
    align-items: center;
}

header .logo {
    max-width: 100px;
}

header .italia {
    max-width: 70px;
    margin-bottom: 15px;
    padding-right: 20px;
}

nav {
    margin: auto;
}

nav a {
    text-decoration: none;
    font-weight: bold;
    color: white;
    margin-right: 20px;
    display: inline-block;
    transition: transform 0.2s ease;
}

nav a:hover{
    transform: scale(1.15);
}

header .telefone {
    max-width: 30px;
    max-height: 30px;
    margin-top: 10px;
}

header p {
    font-size: 1em;
    font-weight: bold;
    margin-left: 10px;
    margin-right: 25px;
}

div.telefone-div {
    display: flex;
    justify-content: space-between;
    padding-left: 10px;
    color: white;
}

h1 {
    font-weight: lighter;
    text-align: center;
    margin-top: 20px;
    font-size: 2.5em;
}

section {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    margin-bottom: 50px;
}

.carro-catalogo {
    background-color: rgb(235, 235, 235);
    margin-right: 2vw;
    margin-left: 2vw;
    border-radius: 15px;
    width: 30vw;
}

.carro-catalogo img {
    max-width: 20vw;
    min-width: 230px;
    display: block;
    margin: auto;
    margin-top: 50px;
}

.carro-catalogo h1 {
    margin-top: 30px;
    margin-bottom: 30px;
    font-weight: bold;
}

.carro-catalogo p {
    text-align: center;
    margin-left: 40px;
    margin-right: 40px;
    margin-bottom: 0;
    color: rgb(105, 105, 105);
    font-size: 1.1em;
}

.ver-mais {
    background-color: black;
    color: white;
    text-decoration: none;
    font-size: 1em;
    padding: 5px 20px 5px 20px;
    text-align: center;
    display: block;
    margin: auto;
    border-radius: 40px;
    transition: transform 0.2s ease;
}

.ver-mais:hover {
    transform: scale(1.05);
}


footer {
    background-color: black;
    margin-top: 40px;
    display: flex;
    align-items: center;     
    justify-content: center;  
    position: relative;      
    height: 50px;
}

footer img {
    width: 55px;
    margin-top: 3px;
    position: absolute;
    left: 20px;           
    height: 40px;
}

footer p {
    color: white;
    margin: 0;
}


/*scrollbar*/
body::-webkit-scrollbar {
    width: 8px;
}

body::-webkit-scrollbar-track {
    background: transparent;
}

body::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.4);
    border-radius: 10px;
}

body::-webkit-scrollbar-thumb:hover {
    background-color: rgba(0, 0, 0, 0.6);
}

@media (max-width: 768px){
    header{
        height: 60px;
        padding-top: 15px;
    }

    nav {
        display: none;
    }

    header .logo{
        display: none;
    }

    header.italia{
        display: block;
    }

    div .telefone-div{
        display: none;
    }

    h1{
        font-size: 1.8em;
        margin-top: 20px;
    }
    section {
        display: contents;
    }
    .carro-catalogo {   
        display: block;
        margin: auto;
        width: 350px;
        padding-bottom: 20px;
        margin-top: 20px;
        margin-bottom: 40px;
    }
    .carro-catalogo h1{
        margin-top: 20px;
        margin-bottom: 20px;
    }
    .carro-catalogo img {
        margin-top: 0;
        padding-top: 20px;
    }
    .ver-mais{
        margin-top: 20px;
        width: 230px;
        padding-top: 10px;
        padding-bottom: 10px;
        text-align: center;
        font-size: 1.3em;
    }
    footer {
        height: 45px;
        margin-top: 20px;
    }
    footer img{
        left: 10px;
        width: 50px;
        height: 35px;
    }
    footer p{
        font-size: 0.9em;
    }
}

@media (min-width: 1024px) {
    .ver-mais {
        font-size: 25px;
        width: 200px;
        margin-top: 50px;
        margin-bottom: 30px;
        padding: 15px 40px 15px 40px;
    }
}

@media (min-width: 1600px) {
    .ver-mais {
        width: 250px;
    }
}