body {
    background-color: white;
    color: black;
    margin: 0 0 0 0;
    font-family: Arial, Helvetica, sans-serif;
}

.linha-preta {
    background-color: black;
    height: 5px;
}

.linha-vermelha {
    background-color: rgb(170, 14, 14);
    height: 3px;
}

header{
    display: flex;
    justify-content: space-between;
    height: 94.52px;
    background-color: black;
}

header img {
    max-width: 110px;
}

header .italia {
    max-width: 80px;
    margin-bottom: 15px;
}

nav {
    margin: auto;
    margin-bottom: 20px;
}

nav a {
    text-decoration: none;
    font-weight: bold;
    color: white;
    margin-right: 20px;
    display: inline-block;
    transition: transform 0.2s ease;
}

nav a:hover{
    transform: scale(1.15);
}

header .telefone {
    max-width: 30px;
    max-height: 30px;
    margin-top: 10px;
}

header p {
    font-size: 1em;
    font-weight: bold;
    margin-left: 10px;
    margin-right: 25px;
}

div.telefone-div {
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
    padding-left: 10px;
    color: white;
}

h1 {
    font-weight: lighter;
    text-align: center;
    margin-top: 20px;

}

section {
    display: flex;
    justify-content: space-between;
    margin-top: 20px
}

.carro-catalogo {
    background-color: rgb(235, 235, 235);
    margin-right: 60px;
    margin-left: 60px;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
}

.carro-catalogo img {
    max-width: 350px;
    display: block;
    margin: auto;
    margin-top: 50px;
}

.carro-catalogo h1 {
    margin-top: 30px;
    margin-bottom: 0;
    font-weight: bold;
}

.carro-catalogo p {
    text-align: center;
    margin-left: 40px;
    margin-right: 40px;
    margin-top: 30px;
    color: rgb(105, 105, 105);
}

.ver-mais {
    background-color: black;
    color: white;
    text-decoration: none;
    font-size: 1.5em;
    padding: 15px 40px;
    text-align: center;
    margin-top: 50px;
    margin-left: 130px;
    margin-right: 130px;
    margin-bottom: 30px;
    border-radius: 40px;
    transition: all 0.2s;
}

.ver-mais:hover {
    transform: scale(1.05);
}