body {
    margin: 0 0 0 0;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    background-color: black;
    overflow: hidden;
}

.linha-vermelha {
    margin-top: 5px;
    background-color: rgb(170, 14, 14);
    height: 3px;
}
header {
    background-color: black;
    display: flex;
    justify-content: space-between;
}

header img {
    max-width: 110px;
}

header .italia {
    max-width: 80px;
    margin-bottom: 15px;
}

nav {
    text-align: center;
    margin: auto;
    margin-bottom: 20px;
}

nav a {
    text-decoration: none;
    font-weight: bold;
    color: white;
    margin-right: 20px;
}

header .telefone {
    max-width: 30px;
    max-height: 30px;
    margin-top: 10px;
}

header p {
    font-size: 1em;
    font-weight: bold;
    margin-left: 10px;
    margin-right: 25px;
}

div.telefone-div {
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
    padding-left: 10px;
}

main{
    margin-bottom: 0;
}

div.slider {
    display: flex;
    justify-content: space-between;
    background-image: url(imagens/fiat-toro.jpg);
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-position: center; 
    background-repeat: no-repeat;
}

div.slider a {
    color: white;
    background-color: black;
    margin-top: 380px;
    margin-left: 40px;
    margin-right: 40px;
    width: 20px;
    height: 20px;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    font-weight: bolder;
    border-radius: 10px;
    transition: background-image 0.3s ease;
}