body {
    margin: 0 0 0 0;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    background-color: black;
    overflow: hidden;
}

.linha-preta {
    margin: 0;
    background-color: black;
    height: 5px;
}

.linha-vermelha {
    background-color: rgb(170, 14, 14);
    height: 3px;
}

header {
    background: linear-gradient(to bottom, black, rgba(0, 0, 0, 0.534), transparent);
    display: flex;
    justify-content: space-between;
    height: 94.52px;
    margin: 0 0 0 0;
}

header img {
    max-width: 110px;
}

header .italia {
    max-width: 80px;
    margin-bottom: 15px;
}

nav {
    margin: auto;
    margin-bottom: 20px;
}

nav a {
    text-decoration: none;
    font-weight: bold;
    color: white;
    margin-right: 20px;
    display: inline-block;
    transition: transform 0.2s ease;
}

nav a:hover{
    transform: scale(1.15);
}

header .telefone {
    max-width: 30px;
    max-height: 30px;
    margin-top: 10px;
}

header p {
    font-size: 1em;
    font-weight: bold;
    margin-left: 10px;
    margin-right: 25px;
}

div.telefone-div {
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
    padding-left: 10px;
}

video {
    width: 100%; 
    height: 100%;
    position:absolute;
    top: 0;
    left: 0;
    z-index: -1;
    object-fit: cover;
}

main{
    margin-bottom: 0;
}

main > h1 {
    font-style: italic;
    font-size: 3.5em;
    position: absolute;
    top: 200px;
    left: 130px;
}

main > h3 {
    font-style: italic;
    font-size: 2.5em;
    font-weight: lighter;
    position: absolute;
    top: 255px;
    left: 120px;
}

main > h2 {
    color: rgb(255, 0, 0);
    font-style: italic;
    font-size: 3em;
    position: absolute;
    top: 310px;
    left: 105px;
}

.compra-box {
    display: grid;
    grid-template-columns: auto auto;
    width: 450px;
    margin: auto;
    position: absolute;
    top: 830px;
    left: 50%;
    transform: translateX(-50%);
}

.compra-box a {
    font-size: 1em;
    text-decoration: none;
    width: 200px;
    padding: 15px 0px;
    text-align: center;
    margin: auto;
    border-radius: 15px;
    font-weight: bolder;
    transition: transform 0.3s ease;
}

.compra-box > a:hover {
    transform: scale(1.1);
}

.comprar {
    color: rgb(0, 0, 0);
    background-color: rgb(255, 255, 255);
}

.vermais {
    background-color: red;
    color: rgb(255, 255, 255);

}


div.slider {
    display: flex;
    justify-content: space-between;
    background-image: url(imagens/fiat-toro.jpg);
    width: 100%;
    min-height: calc(100vh - 97px);
    background-size: cover;
    background-position: center; 
    background-repeat: no-repeat;
    transition: background-image 0.5s ease;
}

div.slider a {
    color: white;
    background-color: black;
    margin-top: 380px;
    margin-left: 40px;
    margin-right: 40px;
    width: 20px;
    height: 20px;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    font-weight: bolder;
    border-radius: 10px;
    opacity: 65%;
}

div.slider a:hover {
    opacity: 100%;
    transition: all 0.5s;
}